<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wallpaper_calendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wallpaper_calendar.Properties.Settings>
            <setting name="form_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form_topmost" serializeAs="String">
                <value>True</value>
            </setting>
        </wallpaper_calendar.Properties.Settings>
    </userSettings>
</configuration>